* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}


.nav-right ul li {
    margin-right: 2rem;
    color: gray;
}

.background-color {
    background-color: #ff5d5d;
}

.dark-background {
    background-color: #425b76;
}

.dark-background-meeting {
    background-color: #2d3e50;
}

.dark-background-resources {
    background-color: #2A3A4A;
}

.primary-color {
    color: #ff5d5d;
}

.background-color-gray {
    background-color: #f5f8fa;
}

.gradient-background {
    background-image: linear-gradient(white, #ff5d5d);
}


body {
	align-items: center;
	justify-content: center;
}






footer {
    background-color: #425b76;
}