* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}


.nav-right ul li {
    margin-right: 2rem;
    color: gray;
}

.background-color {
    background-color: #ff5d5d;
}

.dark-background {
    background-color: #425b76;
}

.dark-background-meeting {
    background-color: #2d3e50;
}

.dark-background-resources {
    background-color: #2A3A4A;
}

.primary-color {
    color: #ff5d5d;
}

.background-color-gray {
    background-color: #f5f8fa;
}

.gradient-background {
    background-image: linear-gradient(white, #ff5d5d);
}


body {
	align-items: center;
	justify-content: center;
}


.accordion{
    margin: 20px auto;
    width: 90%;
}
.accordion li{
    list-style: none;
    width: 100%;
    margin: 0 20px 20px 20px;
    padding: 10px;
    border-radius: 2px;
    color: #2A3A4A;
    background: white;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7);
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
label::after{
    content: '+';
    margin-left: auto;
    font-size: 24px;
    font-weight: 600;
}
input[type="radio"]{
    display: none;
}
.accordion .content {
    color: rgb(156 163 175);
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 400px;
    padding: 10px 10px 20px;
}
.accordion input[type="radio"]:checked + label::after{
    content: '-';
}

.view-all{
    border-color: #ff5d5d;
}


footer {
    background-color: #425b76;
}